/*



                         R E P O N S I V E


*/

/* samsung all */
@media only screen and (max-width: 360px) {
    .container {
        left: 0.9rem;
        top: 5rem;
        width: 92%;
        height: 75vh;
    }

    .container_mid {
        left: 11px;
        width: 308px;
        height: 71vh;
        top: 12px;
        position: relative;
    }

    .nav_main {
        display: block;
    }

    .fa-user {
        position: absolute;
        left: 16px;
        top: 9px;
        font-size: 17px;
    }

    .fa-bars {
        position: absolute;
        right: 16px;
        top: 10px;
        font-size: 17px;
    }

    .container_mid-img {
        width: 64%;
        left: 55px;
        top: 65px;
        position: absolute;
    }

    .mid_h2 {
        left: 19px;
        top: 271px;
        position: absolute;
    }

    .container_left-logo {
        width: 18%;
    }

    .container_left-title {
        top: 16px;
    }

    .container_mid-title {
        font-size: 15px;
    }

    .container_mid-control {
        left: 23px;
        top: 76%;
        position: absolute;
    }

    .control-list_item {
        font-size: 17px;
    }

    .control-list .size {
        font-size: 41px;
    }

    .container_mid .progress {
        left: 24px;
        bottom: 34px;
        position: absolute;
    }

    .showin4,
    .showother {
        width: 308px;
        height: 74vh;
        border-radius: 16px;
    }

    .container_right {
        display: none;
        width: 339px;
        top: 60px;
        z-index: 22222;
        background: none;
    }
    
    .container_left {
        display: none;
        z-index: 222222;
        width: 330px;
        height: 64vh;
        top: 49px;
        left: -2px;
        background: none;
    }

    .container_left-info {
        top: 110px;
        left: 19px;
        height: 23vh;
    }

    .song_body .day {
        right: 12px;
    }

    .imgAlbum {
        top: 2px;
    }

    .tab_ui {
        top: -1px;
        width: 94%;
        left: 39px;
    }

    .SetList {
        margin-left: 26px;
        top: -43px;
        height: 58vh;
    }

    .social_media {
        left: 53px;
    }

    #clear1 {
        position: absolute;
        left: -13px;
        top: 7px;
    }

    #clear2 {
        position: absolute;
        right: 12px;
        top: 7px;
    }

    .search {
        display: none;
    }

    .aaa {
        top: 157px;
        position: absolute;
    }

    .aaa:hover {
        top: 155px;
    }

    .fa-arrow-right {
        right: 14px;
    }

    .fa-arrow-left {
        left: 13px;
    }

    .title_Album {
        display: none;
    }
}

/* ip 6/7/8 */
@media only screen and (min-width: 361px) and (max-width: 375px) {
    .container {
        left: 0.9rem;
        top: 3rem;
        width: 92%;
        height: 85vh;
    }

    .container_mid {
        left: 11px;
        width: 322px;
        height: 82vh;
        top: 9px;
        position: relative;
    }

    .nav_main {
        display: block;
    }

    .fa-user {
        position: absolute;
        left: 16px;
        top: 9px;
    }

    .fa-bars {
        position: absolute;
        right: 16px;
        top: 10px;
    }

    .container_mid-img {
        width: 70%;
        left: 45px;
        top: 56px;
        position: absolute;
    }

    .mid_h2 {
        left: 19px;
        top: 296px;
        position: absolute;
    }

    .control-list_item {
        font-size: 18px;
    }

    .control-list .size {
        font-size: 48px;
    }

    .container_left-logo {
        width: 18%;
    }

    .container_left-title {
        top: 16px;
    }

    .container_mid-title {
        font-size: 20px;
    }

    .container_mid-control {
        left: 23px;
        position: absolute;
        top: 80%;
    }

    .container_mid .progress {
        left: 22px;
        bottom: 29px;
        position: absolute;
    }

    .showin4,
    .showother {
        width: 322px;
        height: 85vh;
        border-radius: 16px;
    }

    .container_right {
        display: none;
        width: 339px;
        top: 60px;
        z-index: 22222;
        background: none;
    }
    
    .container_left {
        display: none;
        z-index: 222222;
        width: 330px;
        height: 64vh;
        top: 68px;
        left: 4px;
        background: none;
    }

    .container_left-info {
        top: 122px;
        left: 19px;
    }

    .tab_ui {
        top: 24px;
        width: 96%;
        left: 29px;
    }

    .list_music {
        top: 21px;
    }
    
    .SetList {
        margin-left: 29px;
        top: -22px;
    }

    .social_media {
        left: 53px;
        bottom: 47px;
    }

    #clear1 {
        position: absolute;
        left: -13px;
        top: 7px;
    }

    #clear2 {
        position: absolute;
        right: 14px;
        top: 9px;
    }

    .search {
        display: none;
    }

    .aaa {
        top: 149px;
    }

    .aaa:hover {
        top: 147px;
    }

    .fa-arrow-left {
        left: 10px;
    }

    .fa-arrow-right {
        right: 5px;
    }

    .title_Album {
        display: none;
    }
}

/* ip 6/7/8/plus */
@media only screen and (min-width: 376px) and (max-width: 414px) {
    .container {
        left: 17px;
        top: 3rem;
        width: 92%;
        height: 86vh;
    }

    .container_mid {
        left: 11px;
        width: 358px;
        height: 83vh;
        top: 11px;
        position: relative;
    }

    .nav_main {
        display: block;
    }

    .fa-user {
        position: absolute;
        left: 16px;
        top: 9px;
    }

    .fa-bars {
        position: absolute;
        right: 16px;
        top: 10px;
    }

    .container_mid-img {
        position: absolute;
        width: 66%;
        left: 58px;
        top: 76px;
    }

    .mid_h2 {
        position: absolute;
        left: 21px;
        top: 335px;
    }

    .container_left-logo {
        width: 18%;
    }

    .container_left-title {
        top: 16px;
    }

    .container_mid-title {
        font-size: 20px;
    }

    .container_mid-control {
        left: 24px;
        top: 70%;
    }

    .container_mid .progress {
        left: 26px;
        bottom: 49px;
    }

    .control-list_item {
        font-size: 20px;
    }

    .control-list .size {
        font-size: 47px;
        bottom: 83px;
    }

    .showin4,
    .showother {
        width: 358px;
        height: 86vh;
        border-radius: 16px;
    }

    .container_right {
        display: none;
        width: 339px;
        top: 76px;
        z-index: 22222;
        background: none;
    }
    
    .container_left {
        display: none;
        z-index: 222222;
        width: 330px;
        height: 64vh;
        top: 113px;
        left: 22px;
        background: none;
    }

    .container_left-info {
        top: 122px;
        left: 19px;
    }

    .tab_ui {
        top: 59px;
        width: 100%;
        left: 2px;
    }

    .social_media {
        left: 53px;
    }

    #clear1 {
        position: absolute;
        left: -13px;
        top: 7px;
    }

    #clear2 {
        position: absolute;
        right: 14px;
        top: 9px;
    }

    .search {
        display: none;
    }

    .aaa {
        top: 163px;
    }

    .aaa:hover {
        top: 161px;
    }

    .title_Album {
        display: none;
    }

    .SetList {
        top: -30px;
        position: absolute;
    }
}
 
/* ipad */
@media only screen and (min-width: 415px) and (max-width: 768px) {
    .container {
        left: 32px;
        top: 4rem;
        width: 92%;
        height: 87vh;
    }

    .container_left {
        display: none;
        z-index: 22222;
        width: 78%;
        top: 114px;
        background: none;
        height: 57vh;
        left: 78px;
    }

    .showin4,
    .showother {
        width: 642px;
        height: 84vh;
        border-radius: 16px;
    }

    .container_left-nav {
        left: 88px;
        top: 79px;
    }

    .container_left-info {
        left: 24px;
    }

    .container_left-title {
        font-size: 28px;
    }

    .social_media {     
        left: 78px;
    }

    .info_title {
        font-size: 31px;
    }

    .info_story {
        left: 57px;
        font-size: 25px;
    }

    .social_media .fa-facebook,
    .social_media .fa-instagram,
    .social_media .fa-github {
        font-size: 50px;
    }

    .container_mid {
        width: 91%;
        left: 2rem;
        height: 82vh;
        position: relative;
    }

    .container_right {
        display: none;
        z-index: 22222;
        width: 89%;
        background: none;
        height: 65vh;
        top: 94px;
    }

    .search {
        display: none;
    }

    .search .fa-search {
        background: #9797972e; 
        padding: 20px; 
        border-radius: 50%;
        top: -52px;
        left: 10px;
    }

    .tab_ui {
        top: 63px;
        left: 15px;
    }

    .title_Album {
        display: none;
    }

    .list_music {
        top: 37px;
    }

    .list_albumimg {
        width: 305px;
    }

    .aaa {
        top: 252px;
        padding: 18px;
    }

    .aaa:hover {
        top: 250px;
    }

    .fa-arrow-right {
        right: 98px;
    }

    .fa-arrow-left {
        left: 93px;
    }

    .imgAlbum {
        top: 91px;
    }

    .SetList {
        width: 55%;
        left: 88px;
    }

    .search input[type="text"] {
        display: none;
    }

    .nav_main {
        display: block;
        font-size: 34px;
    }

    .fa-bars {
        right: 22px;
        top: 20px;
        position: absolute;
    }

    .fa-user {
        top: 20px;
        left: 30px;
        position: absolute;
    }

    .container_mid-img {
        width: 73%;
        top: 77px;
        left: 89px;
        position: absolute;
    }

    .mid_h2 {
        top: 589px;
        left: 38px;
        position: absolute;
    }

    .container_mid-title,
    .control-list_item {
        font-size:  31px;
    }

    .container_mid-control {
        top: 79%;
        left: 41px;
        position: absolute;
    }

    .control-list .size {
        left: 190px;
        font-size: 78px;
        top: -21px;
    }

    #backsong {
        position: absolute;
        left: 105px;
    }

    #nextsong {
        position: absolute;
        right: 105px;
    }

    #clear1 {
        position: absolute;
        top: 20px;
    }

    #clear2 {
        position: absolute;
        top: 20px;
    }
}

/* ipad pro */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        left: 44px;
        top: 5rem;
        width: 92%;
        height: 87vh;
    }

    .container_left {
        display: none;
        z-index: 22222;
        width: 59%;
        top: 166px;
        background: none;
        height: 57vh;
        left: 191px;
    }

    .showin4,
    .showother {
        width: 876px;
        height: 85vh;
        border-radius: 16px;
    }

    .container_left-nav {
        left: 88px;
        top: 79px;
    }

    .container_left-info {
        left: 24px;
        top: 298px;
    }

    .list_years .years {
        font-size: 26px;
    }

    .container_left-title {
        font-size: 28px;
    }

    .social_media {     
        left: 78px;
    }

    .info_title {
        font-size: 31px;
    }

    .info_story {
        left: 57px;
        font-size: 25px;
    }

    .social_media .fa-facebook,
    .social_media .fa-instagram,
    .social_media .fa-github {
        font-size: 50px;
    }

    .container_mid {
        width: 93%;
        left: 2rem;
        height: 83vh;
    }

    .container_right {
        display: none;
        z-index: 22222;
        width: 89%;
        background: none;
        height: 65vh;
        top: 94px;
    }

    .search {
        display: none;
    }

    .search .fa-search {
        background: #9797972e; 
        padding: 20px; 
        border-radius: 50%;
        top: -52px;
        left: 10px;
    }

    .tab_ui {
        top: 63px;
        left: 15px;
    }

    .title_Album {
        display: none;
    }

    .list_music {
        top: 50px;
        height: 60vh;
    }

    .list_albumimg {
        width: 305px;
    }

    .aaa {
        top: 400px;
        padding: 29px;
    }

    .aaa:hover {
        top: 250px;
    }

    .fa-arrow-right {
        right: 181px;
    }

    .fa-arrow-left {
        left: 168px;
    }

    .imgAlbum {
        top: 91px;
    }

    .SetList {
        width: 41%;
        left: 177px;
        top: 152px;
    }

    .search input[type="text"] {
        display: none;
    }

    .nav_main {
        display: block;
        font-size: 47px;
    }

    .fa-bars {
        right: -790px;
        top: 20px;
        position: relative;
    }

    .fa-user {
        top: 20px;
        left: 30px;
        position: absolute;
    }

    .container_mid-img {
        width: 73%;
        top: 110px;
        left: 118px;
    }

    .mid_h2 {
        top: 743px;
        left: 60px;
    }

    .container_mid-title,
    .control-list_item {
        font-size:  44px;
    }

    .container_mid-control {
        top: 79%;
        left: 72px;
    }

    .control-list .size {
        left: 190px;
        font-size: 78px;
        top: -21px;
    }

    #backsong {
        position: absolute;
        left: 187px;
    }

    #nextsong {
        position: absolute;
        right: 187px;
    }

    #clear1 {
        position: absolute;
        top: 20px;
    }

    #clear2 {
        position: absolute;
        top: 20px;
    }

    .container_mid .progress {
        height: 10px;
        left: 63px;
    }
}

/* lap 1440px */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        height: 53vh;
        top: 289px;
    }

    .container_left {
        height: 49vh;
    }

    .container_mid {
        height: 49vh;
        left: 23rem;
    }

    .container_right {
        height: 49vh;
    }

    .search {
        width: 89%;
        height: 4vh;
    }

    .tab_ui {
        top: 79px;
        height: 40vh;
    }

    .title_Album {
        display: none;
    }

    .SetList {
        top: -31px;
    }

    .aaa {
        top: 172px;
    }

    .aaa:hover {
        top: 170px;
    }

    .fa-arrow-right {
        right: 5px;
    }

    .fa-arrow-left {
        left: 21px;
    }

    .container_mid-img {
        width: 64%;
        left: 7;
    }
}

/* 4k - 2560px */ 
@media only screen and (min-width: 2560px) {
    .container {
        top: 120px;
        left: 273px;
    }

    .container_left {
        left: 37px;
        top: 36px;
    }

    .container_mid {
        left: 40.6rem;
        top: 36px;
    }

    .container_right {
        right: 38px;
        top: 36px;
    }

    .container_left-info {
        top: 329px;
        left: 32px
    }

    .info_title {
        font-size: 34px;
    }
    
    .info_story {
        font-size: 27px;
    }

    .social_media {
        width: 79%;
    }

    .social_media a i {
        font-size: 39px;
    }

    .container_mid-img {
        width: 62%;
        top: 73px;
        left: 137px;
    }

    .mid_h2 {
        top: 35rem;
        left: 50px;
    }

    .container_mid-title {
        font-size: 34px;
    }

    .container_mid-control {
        width: 84%;
        left: 61px;
    }

    .control-list_item {
        font-size: 35px;
    }

    .control-list .size {
        font-size: 78px;
    }

    .container_mid .progress {
        left: 53px;
        height: 9px;
    }

    .search {
        left: 46px;
        width: 86%;
    }

    .tab_ui {
        top: 145px;
        left: 33px;
    }

    .title_Album {
        display: none;
    }

    .SetList {
        top: 22px;
        left: 58px;
        width: 62%;
    }

    .list_albumimg {
        width: 305px;
        height: 452px;
    }

    .aaa {
        top: 265px;
    }

    .aaa:hover {
        top: 263px;
        padding: 23px;
    }

    .fa-arrow-right {
        right: 69px;
        padding: 20px;
    }

    .fa-arrow-left {
        left: 63px;
        padding: 20px;
    }

    .list_years .years {
        font-size: 24px;
    }

    .song_body .day {
        right: 6px;
    }
}